.ItemListContainer {
  grid-area: ItemList;
  width: 100%;
  margin-left: 5px;
  padding: 10px;
  background-image: url(../assets/list-images/itemlist.jpg);
  background-size: cover;
  margin-bottom: 60px;


}