.ItemIndividual {
  width: 130px;
  height: 220px;
  overflow: hidden;
  margin: 10px 20px;

  .itemImage {
    height: 90%;
    width: 100%;
    background-size: cover;
  }

  .itemFooter {
    color: #000;
    height: 10%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}