.Header {
  grid-area: Header;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9rem;
  margin-bottom: .5rem;
  font-size: 170%;
  text-transform: uppercase;
  color: #000;
}