.ItemList {
  grid-area: ItemList;
  border: 1px solid #000;
  margin-left: .5rem;
  padding: 2rem;
  background-image: url(../../img/itemlist.jpg);
  background-size: cover;
  margin-bottom: 60px;


}